// Colors
$white: #fff;
$gray-lightest: #f7f7f7;
$gray-lighter: #eee;
$gray-light: #ccc;
$gray: #999;
$gray-dark: #666;
$gray-darker: #494949;
$gray-darkest: #333;
$black: #000;

$accent-colors: (
    'green': #4caf50,
    'yellow-light': #f8e71c,
    'yellow-dark': #ffc108,
    'orange': #f08406,
    'blue-lighter': #f4fcff,
    'blue-light': #d9f3ff,
    'blue': #00b0ff,
    'blue-dark': #4a90e2,
);

$year-colors: (
    '2012': #dd4124,
    '2013': #009b77,
    '2014': #b565a7,
    '2015': #ad655f,
    '2016': #92a8d1, // 2016 has another color `#f7cac9`
);

$text-highlight: #fcf38e; // used on emphasis like text selection

$text-color: #333;

$code-inline: #900;

// Fonts
$serif: Calluna, 'Hoefler Text', Palatino, Garamond, 'Times New Roman', serif;
$sans-serif: 'myriad-pro', Calibri, 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
$mono: menlo, 'Source Code Pro', Consolas, Courier, monospace;

// Modular Scale & Vertical Rhythm
$font-size-base: 18px;
$font-size-base-for-lap: 20px;
$font-size-base-for-desk: 22px;
$font-size-base-old-ie: $font-size-base-for-lap;
$baseline: 1.5rem;

// Grid
$gutter: $baseline / 3;
$push:   true;
$pull:   true;

$breakpoints: (
    palm: 480px,
    hands: 768px,
    hands-lap: 1024px,
    lap: 1280px,
    lap-desk: 1600px,
    desk: 1920px
);

$page-margin: $baseline;

$old-ie: false !default;
$fix-queries-at: 960px !default;
