// Colors
$white: #fff;
$gray-lighter: #eee;
$gray-light: #ccc;
$gray: #999;
$gray-dark: #666;
$gray-darker: #333;
$black: #000;

$text-highlight: #fcf38e; // used on emphasis like text selection

$text-color: #333;

// Fonts
$serif: Calluna, 'Hoefler Text', Palatino, Garamond, 'Times New Roman', serif;
$sans-serif: 'myriad-pro', Calibri, 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
$mono: menlo, 'Source Code Pro', Consolas, Courier, monospace;

// Modular Scale & Vertical Rhythm
$font-size-base: 18px;
$baseline: 1.5rem; // 27px = 18px * 1.5rem

$page-margin: $baseline;

$breakpoints: (
    'small': (767px),
    'medium': (992px),
    'large': (1200px)
);

$old-ie: false !default;
$fix-queries-at: 960px !default;
