<!DOCTYPE html>
<!--[if lt IE 9]>  <html class="old-ie"> <![endif]-->
<!--[if IE 9]>      <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
