---
layout: default
---

{% assign language = site.data.languages[page.language] %}
<article class="post" lang="{{ language.value] }}">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {{ content }}

<!--     {% assign post = page %}
    {% if post.categories.size > 0 %}
        {% for post_category in post.categories %}
            {% for data_category in site.data.categories %}
                {% if data_category.slug == post_category %}
                    {% assign category = data_category %}
                {% endif %}
            {% endfor %}
            {% if category %}
                <a href="/category/{{ category.slug }}/">{{ category.name }}</a>
            {% endif %}
        {% endfor %}
    {% endif %} -->

</article>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
