//
// What follows is the result of much research on cross-browser styling.
// Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
// Kroc Camen, and the H5BP dev community and team.
// ======================================================================

//
// Base styles: opinionated defaults
// =================================


* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    color: $text-color;
    font-size: $ms-base;
    line-height: $ms-ratio-second;
}

body {
    font-family: $serif;
}

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
//
// These selection rule sets have to be separate.
// Customize the background color to match your design.
::selection {
    background: $highlight;
    text-shadow: none;
}

// A better looking default horizontal rule
hr {
    display: block;
    height: 1px;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

code,
kbd,
pre,
samp {
    font-family: $mono;
}

// Remove default fieldset styles.
fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

// Allow only vertical resizing of textareas.
textarea {
    resize: vertical;
}


