//
// Typography
// ==========


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-serif;
}

h1 {
    @include rem(line-height, $baseline * 2);
    @include rem(margin, 0 0 $baseline 0);
    font-size: ms(4);
}

h2 {
    @include rem(line-height, $baseline * 2);
    @include rem(margin, 0 0 $baseline 0);
    font-size: ms(3);
}

h3 {
    @include rem(line-height, $baseline);
    @include rem(margin, 0 0 $baseline 0);
    font-size: ms(2);
}

h4 {
    @include rem(line-height, $baseline);
    @include rem(margin, 0 0 $baseline 0);
    font-size: ms(1);
}

// Body text
p {
    @include rem(margin, 0 0 $baseline);
}

